/build/
/bin/
/obj/

*.log
*.tmp
*.swp
*.bak
*.png

.DS_Store
Thumbs.db

__pycache__/
*.pyc

venv/
env/

.vscode/
.idea/
*.suo
*.user
*.sln

data

output

*.sh

result*

*.csv